<!DOCTYPE html>
<html>
    <head>
        <title>The Image Project</title>
        <link rel="stylesheet" href="/main.css">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    </head>
    <body>