<% include partials/header %>

<div id="main">
    <h4>The Image Project</h4>

    <hr>

    <p>
        What is the image project? The image project is a way to demonstrate the variance and in human subjectivity. A simple
        yet eloquent method of showing how differently each and every one of us views the world.
        <br><br>
        How does it work? It's simple. Select "view a random image" below and then fill out the comment box with a description
        of the image you see. There is no length nor detail requirement. Write a technical analysis, an abstract poem, or anything
        in between! That's the beauty of it. Write whatever you think best summizes the image. After you've written your comment, 
        view the other comments if you wish. While you can see other comments before writing your
        own, it is suggested that you write up your own comment first as to not be influenced by the comments of others.
        <br><br>
        In addition to writing and reading comments, you can submit images of your own. We ask that these images be 1. SFW only.
        So no nudes, no blood or gore, etc. 2. Free use, creative commons, or owned by you. If the image fits within those
        guidelines, then click the Submit button below for more information. 

    </p>
    <hr>
    <a href="/submit">Submit new photo</a>
    <a href="/show">View a random photo</a>
    <hr>
</div>

<% include partials/footer %>